.main_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    align-items: center;

}

.main_wrapper .input_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20vh;
    align-items: center;
    border: 2.5px solid rgb(226, 224, 224);
    padding:10px;
    border-radius: 7px;
    /* background-color: aquamarine; */
}

.main_wrapper .input_form .main_input {
    display: flex;
    flex-basis: 40%;
    width: 80%;
    justify-content: center;
    align-items: center;
    /* background-color: black; */

}

.main_wrapper .input_form .main_input input {
    width: 70%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgb(241, 238, 238);
    color: black;
    border: none;
}

.main_wrapper .input_form .main_input select {
    width: 70%;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgb(241, 238, 238);
    color: black;
    border: none;
}



.main_wrapper .input_form .main_input input:focus {
    outline: none;
}

.main_wrapper .input_form .main_input button{
    height: 30px;
    width: 100px;
    margin-left: 15px;
    border: none;
    background-color: #97d700;
    color: white;
    border-radius: 4px;
    font-weight: 900;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

.main_wrapper .input_form .main_input button:focus{
    outline: none;
}

.main_wrapper .input_form .main_input button:hover{
    cursor: pointer;
}

.main_wrapper .input_form .secondary_input {
    display: flex;
    flex-basis: 60%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.main_wrapper .input_form .secondary_input input {
    width: 20%;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(241, 238, 238);
    outline: none;
    border: none;
    margin-left: 15px;
    padding-left: 10px;

}

.main_wrapper .input_form .secondary_input input:focus {
    outline:none
}

@media screen and (max-width: 786px) {
    .main_wrapper .input_form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20vh;
        align-items: center;
        border: 2.5px solid rgb(194, 190, 190);
        padding:10px;
        border-radius: 7px;
        /* background-color: aquamarine; */
    }

    .main_wrapper .input_form .main_input {
        display: flex;
        flex-basis: 40%;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: black; */
    
    }

    .main_wrapper .input_form .secondary_input {
        display: flex;
        flex-basis: 60%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .main_wrapper .input_form .secondary_input input {
        width: 70%;
        height: 35px;
        border-radius: 3px;
        background-color: rgb(219, 215, 215);
        outline: none;
        border: none;
        margin-left: 15px;
        padding-left: 10px;
    
    }
}

