.Container {
  width: 100%;
  height: 80vh;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #96d70011;
}

.Container .Heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #525252;
}

.Container .Report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  padding: 20px 20px;
  border-radius: 10px;
  overflow: auto;
}

.Container .Report .UserAreaPhone {
  display: none;
}

.Container .Report .UserAreaDesktop {
  margin-left: 40px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.Container .Report .UserAreaDesktop .PrescriptionDetails {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  padding: 2px 2px;
}

.Container .Report .UserAreaDesktop .PrescriptionDetails .PrescriptionItem {
  background-color: #0075f6;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.Container .Report .UserAreaDesktop .UserDetails {
  padding: 10px 5px;
  width: 50%;
  border-radius: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #e9f3fe;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Container .Report .UserAreaDesktop .UserDetails i {
  font-size: 2rem;
  margin-left: 10px;
  color: #0075f6;
  border-radius: 50%;
  background-color: #0075f6;
}

.Container .Report .UserAreaDesktop .UserDetails .UserName {
  color: #0075f6;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 5px;
}

.Container .Report .UserAreaDesktop .UserDetails .UserAge {
  font-size: 1rem;
  margin-left: 18px;
  font-weight: 600;
  color: #444444;
}

.Container .Report .UserAreaDesktop .UserDetails .UserGender {
  font-size: 1rem;
  margin-left: 18px;
  font-weight: 600;
  color: #444444;
}

.Container .Report .Top {
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.Container .Report .Top img {
  height: 40px;
}

.Container .Report .Top .Select {
  margin-left: 5%;
}

.Container .Report .Top .Select select {
  width: 150px;
  height: 45px;
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  color: #043c70de;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polygon points="0,0 100,0 50,80" style="fill: %23033c6f;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .Select select:hover, .Container .Report .Top .Select select:focus {
  cursor: pointer;
  background-color: #043c7007;
}

.Container .Report .Top .Search {
  margin-left: 100px;
}

.Container .Report .Top .Search input {
  width: 300px;
  height: 45px;
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0px 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../assets/Search.png");
  background-position: left 15px top 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .Search input:hover, .Container .Report .Top .Search input:focus {
  background-color: #043c7007;
}

.Container .Report .Mid {
  width: 100%;
  background-color: #f0f4f9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  overflow: auto;
}

.Container .Report .Controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  bottom: 0px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.Container .Report .Controls .Prescription {
  height: 40px;
  margin: 0px;
  border: none;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Controls .Prescription:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.Container .Report .Controls .LabelFilter {
  margin: 0px;
  background-color: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Controls .LabelFilter .FilterText {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 10px;
}

.Container .Report .Controls .LabelFilter:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.Container .Report .Controls .PDF {
  height: 50px;
  width: 150px;
  margin: 0px;
  background-color: #494949;
  margin-left: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Controls .PDF:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 576px) {
  .Container {
    padding: 10px 10px;
  }
  .Container .Report {
    padding: 10px 5px;
  }
  .Container .Report .UserAreaPhone {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    justify-self: flex-end;
  }
  .Container .Report .UserAreaPhone .PrescriptionDetails {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
    padding: 2px 2px;
  }
  .Container .Report .UserAreaPhone .PrescriptionDetails .PrescriptionItem {
    border: solid 1px #0075f6;
    background-color: #0075f6;
    color: #0075f6;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 2px;
  }
  .Container .Report .UserAreaPhone .UserDetails {
    padding: 10px 5px;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #e9f3fe;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Container .Report .UserAreaPhone .UserDetails i {
    font-size: 1.7rem;
    margin-left: 10px;
    color: #0075f6;
    border-radius: 50%;
    background-color: #0075f6;
  }
  .Container .Report .UserAreaPhone .UserDetails .UserName {
    color: #0075f6;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 5px;
  }
  .Container .Report .UserAreaPhone .UserDetails .UserAge {
    font-size: 0.9rem;
    margin-left: 12px;
    font-weight: 600;
    color: #444444;
  }
  .Container .Report .UserAreaPhone .UserDetails .UserGender {
    font-size: 0.9rem;
    margin-left: 12px;
    font-weight: 600;
    color: #444444;
  }
  .Container .Report .Mid {
    margin-bottom: 40px;
  }
  .Container .Report .Top {
    padding: 0px 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
    margin-bottom: 10px;
  }
  .Container .Report .Top .UserAreaDesktop {
    display: none;
    width: 100%;
  }
  .Container .Report .Top img {
    height: auto;
    width: 70%;
    margin: 0px;
    margin: 0% 15%;
  }
  .Container .Report .Top .Select {
    width: 40%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Container .Report .Top .Select select {
    height: 40px;
    width: 100%;
  }
  .Container .Report .Controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0px;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    background-color: #0075f6;
    border-radius: 0px;
  }
  .Container .Report .Controls .Prescription {
    height: 40px;
    margin: 0px;
    border-radius: 25px;
    background-color: white;
    border: none;
    color: #0075f6;
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 800;
    font-size: 0.9rem;
  }
  .Container .Report .Controls .LabelFilter {
    margin: 0px;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .Container .Report .Controls .LabelFilter .FilterText {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 10px;
  }
  .Container .Report .Controls .PDF {
    height: 50px;
    width: 150px;
    margin: 0px;
    background-color: transparent;
    border: none;
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

@media (max-height: 750px) {
  .Container .Report .Top .UserAreaPhone {
    margin-top: 10px;
  }
  .Container .Report .Top .UserAreaPhone .UserDetails {
    padding: 8px 5px;
  }
  .Container .Report .Top .UserAreaPhone .UserDetails i {
    font-size: 1.5rem;
  }
  .Container .Report .Top .UserAreaPhone .UserDetails .UserName {
    font-size: 1rem;
  }
  .Container .Report .Top .UserAreaPhone .UserDetails .UserAge {
    font-size: 0.8rem;
  }
  .Container .Report .Top .UserAreaPhone .UserDetails .UserGender {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=Report.module.css.map */