.Container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 100px;
  background-color: #e9f3fe;
}

.Container .Report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: white;
  -webkit-box-shadow: 20px -20px 60px #c6cfd8,  -20px 20px 60px #ffffff;
          box-shadow: 20px -20px 60px #c6cfd8,  -20px 20px 60px #ffffff;
  border-radius: 10px;
  overflow: auto;
}

.Container .Report .UserAreaPhone {
  display: none;
}

.Container .Report .Top {
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.Container .Report .Top img {
  height: 40px;
}

.Container .Report .Top .UserAreaDesktop {
  margin-left: 2%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  justify-self: flex-end;
}

.Container .Report .Top .UserAreaDesktop .PrescriptionDetails {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  padding: 2px 2px;
  background-color: #e9f3fe;
}

.Container .Report .Top .UserAreaDesktop .PrescriptionDetails .PrescriptionItem {
  border: solid 1px #0075f6;
  color: #0075f6;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.Container .Report .Top .UserAreaDesktop .UserDetails {
  margin-left: 2%;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .Report .Top .UserAreaDesktop .UserDetails i {
  font-size: 2rem;
  margin-left: 10px;
}

.Container .Report .Top .UserAreaDesktop .UserDetails .UserName {
  width: 100px;
  color: #5d5d5d;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 10px;
}

.Container .Report .Top .Select {
  margin-left: 5%;
}

.Container .Report .Top .Select select {
  width: 150px;
  height: 45px;
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  color: #043c70de;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polygon points="0,0 100,0 50,80" style="fill: %23033c6f;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .Select select:hover, .Container .Report .Top .Select select:focus {
  cursor: pointer;
  background-color: #043c7007;
}

.Container .Report .Top .Search {
  margin-left: 100px;
}

.Container .Report .Top .Search input {
  width: 300px;
  height: 45px;
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0px 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../assets/Search.png");
  background-position: left 15px top 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .Search input:hover, .Container .Report .Top .Search input:focus {
  background-color: #043c7007;
}

.Container .Report .Top .Prescription {
  padding: 15px 20px;
  border: none;
  background-color: #0075f6;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 4%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .Prescription:hover {
  cursor: pointer;
  background-color: #005dc0;
}

.Container .Report .Top .LabelFilter {
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .LabelFilter i {
  font-size: 15px;
}

.Container .Report .Top .LabelFilter .VerticalLine {
  width: 15px;
  height: 2px;
  margin-top: 2px;
  background-color: #0075f6;
}

.Container .Report .Top .LabelFilter .Filter {
  width: 10px;
  height: 10px;
  background-color: #0075f6;
  border-radius: 50%;
}

.Container .Report .Top .LabelFilter:hover, .Container .Report .Top .LabelFilter:focus {
  cursor: pointer;
  background-color: #043c7007;
}

.Container .Report .Top .PDF {
  background-color: #0075f6;
  color: white;
  font-weight: 600;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Container .Report .Top .PDF:hover {
  cursor: pointer;
  background-color: #005dc0;
}

.Container .Report .Mid {
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
}

@media (max-width: 576px) {
  .Container {
    padding: 10px 10px;
  }
  .Container .Report {
    padding: 10px 5px;
  }
  .Container .Report .UserAreaPhone {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px;
    border-radius: 5px;
    justify-self: flex-end;
    background-color: #0075f6;
  }
  .Container .Report .UserAreaPhone .PrescriptionDetails {
    max-width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
    padding: 2px 2px;
    background-color: #e9f3fe;
  }
  .Container .Report .UserAreaPhone .PrescriptionDetails .PrescriptionItem {
    border: solid 1px #0075f6;
    color: #0075f6;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 2px;
  }
  .Container .Report .UserAreaPhone .UserDetails {
    margin-left: 2%;
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Container .Report .UserAreaPhone .UserDetails i {
    font-size: 2rem;
    margin-left: 10px;
  }
  .Container .Report .UserAreaPhone .UserDetails .UserName {
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .Container .Report .Top {
    padding: 0px 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
    margin-bottom: 10px;
  }
  .Container .Report .Top .UserAreaDesktop {
    display: none;
    width: 100%;
  }
  .Container .Report .Top img {
    height: auto;
    width: 70%;
    margin: 0px;
    margin: 0% 15%;
  }
  .Container .Report .Top .Select {
    width: 40%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Container .Report .Top .Select select {
    height: 40px;
    width: 100%;
  }
  .Container .Report .Top .LabelFilter {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Container .Report .Top .PDF {
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 10px;
  }
}
/*# sourceMappingURL=Report.module.css.map */