.Container{
    width : 100%;
    height : 85vh;
    // padding-top : 30px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding : 20px 100px;
    // background-color : #e9f3fe;
    background-color : #96d70011;
    .Heading{
        margin-top : 30px;
        width : 100%;
        display : flex;
        justify-content: center;
        font-size : 1.5rem;
        font-weight: 600;
        color : rgb(82, 82, 82);
    }
    .Report{
        display : flex;
        flex-direction: column;
        align-items: center;
        width : 100%;
        height : 100%;
        padding : 20px 0px;
        overflow : auto;
        .UserAreaPhone{
            display : none;
        }
        .UserAreaDesktop{
            margin-left : 40px;
            // margin-top : 20px;
            width : 100%;
            height : auto;
            display : flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5px;
            // justify-self: flex-end;
            
            .PrescriptionDetails{
                // max-width : 90%;
                // margin-top : 5px;
                width : 45%;
                display : flex;
                justify-content: flex-start;
                flex-wrap : wrap;
                // background-color: #cfdff1;
                border-radius : 5px;
                height : 100%;
                overflow : auto;
                padding : 2px 2px;

                .PrescriptionItem{
                    background-color : #0075f6;
                    color : #fff;
                    font-size : 0.7rem;
                    font-weight: 600;
                    padding : 3px 8px;
                    border-radius : 5px;
                    margin-left : 5px;
                    margin-top : 2px;
                }
            }
            .UserDetails{
                // margin-left : 2%;
                padding : 10px 5px;
                width : 50%;
                border-radius : 5px;
                height : 100%;
                display : flex;
                align-items: center;
                justify-content: flex-start;
                // background-color : coral;
                background-color : #e9f3fe;
                flex-wrap : wrap;
                i{
                    font-size : 2rem;
                    margin-left : 10px;
                    color : #0075f6;
                    border-radius : 50%;
                    background-color : #0075f6;
                }
                .UserName{
                    // width : 100px; 
                    color : #0075f6;
                    font-weight : 600;
                    font-size : 1.2rem;
                    margin-left : 5px;
                }
                .UserAge{
                    font-size : 1rem;
                    margin-left : 18px;
                    font-weight: 600;
                    color : rgb(68, 68, 68);
                }
                .UserGender{
                    font-size : 1rem;
                    margin-left : 18px;
                    font-weight: 600;
                    color : rgb(68, 68, 68);
                }
            }
        }

        .Middle{
            width : 85%;
            // width : auto;
            // background-color : #f0f4f9;
            // border-radius : 10px;
            display : flex;
            flex-direction: column;
            align-items: flex-start;
            height : 90%;
            overflow : auto;
        }
        .Controls{
            display : flex;
            // position : fixed;
            position : static;
            bottom : 0px;
            height : auto;
            align-items: center;
            justify-content: center;
            width : 100%;
            // background-color: #0075f6;
            margin-top : 15px;
            border-radius : 5px;
            .Prescription{
                height : 40px;
                margin : 0px;
                // border-radius : 25px;
                // background-color: #97d700;
                // background-color : coral;
                border : none;
                width : 33%;
                display : flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                font-size : 0.9rem;
                transition : all 0.2s;
                &:hover{
                    cursor: pointer;
                    transform : translateY(-2px);
                }
            }
            .LabelFilter{
                margin : 0px;
                background-color: #97d700;
                flex-direction: row;
                color : white;
                // margin-left : 20px;
                // background-color : green;
                // width : 33%;
                padding : 0px 30px;
                display : flex;
                align-items: center;
                justify-content: center;
                height : 100%;
                margin-right : 20px;
                transition : all 0.2s;
                .FilterText{
                    color : white;
                    font-weight: 800;
                    font-size : 1rem;
                    margin-left : 10px;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);

                }
                &:hover{
                    cursor: pointer;
                    transform : translateY(-2px);
                }
            }
            .PDF{
                height : 50px;
                width : 150px;
                margin : 0px;
                background-color: #97d700;
                color : #fff;
                text-shadow : 0px 0px 5px rgba(0, 0, 0, 0.417);
                margin-left : 20px;     
                // background-color : red;
                border : none;
                // width : 100px;
                display : flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                font-size : 0.9rem;
                transition : all 0.2s;
                &:hover{
                    cursor: pointer;
                    transform : translateY(-2px);
                }
            }
        }
    }

}













@media(max-width : 576px) {
    .Container{
        padding : 10px 10px;
        .Report{
            padding : 10px 5px;
            .UserAreaPhone{
                margin-top : 20px;
                width : 100%;
                height : auto;
                display : flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                justify-self: flex-end;
                // background-color : #0075f6;
                .PrescriptionDetails{
                    // max-width : 90%;
                    margin-top : 5px;
                    display : flex;
                    justify-content: flex-start;
                    flex-wrap : wrap;
                    // background-color: #cfdff1;
                    border-radius : 5px;
                    height : 100%;
                    overflow : auto;
                    padding : 2px 2px;
                    

                    .PrescriptionItem{
                        // background-color : white;
                        // border : solid 1px #0075f6;
                        // background-color : #0075f6;
                        color : #0075f6;
                        color : #fff;
                        font-size : 0.6rem;
                        font-weight: 600;
                        padding : 2px 5px;
                        border-radius : 5px;
                        margin-left : 5px;
                        margin-top : 2px;
                    }
                }
                .UserDetails{
                    // margin-left : 2%;
                    padding : 10px 5px;
                    width : 100%;
                    border-radius : 5px;
                    height : 100%;
                    display : flex;
                    align-items: center;
                    justify-content: flex-start;
                    background-color : #e9f3fe;
                    flex-wrap : wrap;
                    i{
                        font-size : 1.7rem;
                        margin-left : 10px;
                        color : #0075f6;
                        border-radius : 50%;
                        background-color : #0075f6;
                    }
                    .UserName{
                        // width : 100px; 
                        color : #0075f6;
                        font-weight : 600;
                        font-size : 1rem;
                        margin-left : 5px;
                    }
                    .UserAge{
                        font-size : 0.9rem;
                        margin-left : 12px;
                        font-weight: 600;
                        color : rgb(68, 68, 68);
                    }
                    .UserGender{
                        font-size : 0.9rem;
                        margin-left : 12px;
                        font-weight: 600;
                        color : rgb(68, 68, 68);
                    }
                }
            }
            .Mid{
                margin-bottom : 40px;
            }
            .Top{
                .UserAreaDesktop{
                    display : none;
                    width : 100%;
                }
                padding : 0px 5px;
                flex-wrap: wrap;
                justify-content: center;
                min-height: auto;
                margin-bottom : 10px;
                img{
                    height : auto;
                    width : 70%;
                    margin : 0px;
                    margin : 0% 15%;
                }
                .Select{
                    width : 40%;
                    margin-left : 0px;
                    margin-top : 10px;
                    margin-bottom : 10px;
                    select{
                        height : 40px;
                        width : 100%;
                    }
                }
                // .LabelFilter{
                //     margin-left : 10px;
                //     margin-top : 10px;
                //     margin-bottom : 10px;
                // }
                // .PDF{
                //     width : 30%;
                //     margin-left : 10px;
                //     margin-top : 10px;
                //     margin-bottom : 10px;
                //     padding : 14px 10px;
                // }



                // .Prescription{
                //     position : fixed;
                //     bottom : 5px;
                //     margin : auto;
                //     bottom : 5px;
                // }
                // .LabelFilter{
                //     position : fixed;
                //     bottom : 5px;
                //     left : 20px;
                // }
                // .PDF{
                //     position : fixed;
                //     bottom : 5px;
                //     right : 20px;
                // }
            
            }

            .Controls{
                display : flex;
                position : fixed;
                bottom : 0px;
                height : auto;
                align-items: center;
                justify-content: space-between;
                width : 100%;
                background-color: #97d700;
                border-radius : 0px;
                .Prescription{
                    height : 40px;
                    margin : 0px;
                    border-radius : 25px;
                    background-color: white;
                    // background-color : coral;
                    border : none;
                    color : #0075f6;
                    width : 33%;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                    font-size : 0.9rem;
                }
                .LabelFilter{
                    margin : 0px;
                    background-color: transparent;
                    flex-direction: row;
                    // margin-left : 20px;
                    // background-color : green;
                    width : 33%;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    height : 100%;
                    .FilterText{
                        color : white;
                        font-weight: 600;
                        font-size : 0.9rem;
                        margin-left : 10px;
                    }
                }
                .PDF{
                    height : 50px;
                    width : 150px;
                    margin : 0px;
                    background-color: transparent;
                    // background-color : red;
                    border : none;
                    width : 33%;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    color : white;
                    font-weight: 600;
                    font-size : 0.9rem;
                }
            }
        }
    }
}












@media(max-height : 750px) {
    .Container{
        .Report{
            .Top{
                .UserAreaPhone{
                    margin-top : 10px;
                    .UserDetails{
                        padding : 8px 5px;
                        i{
                            font-size : 1.5rem;
                        }
                        .UserName{
                            font-size : 1rem;
                        }
                        .UserAge{
                            font-size : 0.8rem;
                        }
                        .UserGender{
                            font-size : 0.8rem;
                        }
                    }
                }
            }
        }
    }
}