

.App {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 200px;
  width: 400px;
  margin: 40px auto;
  flex-direction: column;
  border-radius: 5px;
}

.App header {
  display: flex;
  
}

.App header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pres_form select{
  background-color: #fff;
  width: 100%;
  height: 45px;
  margin-top: 1em;
  /* margin-right: 1; */
  background-color: white;
  border: 1px solid #043c7024;
  border-radius: 5px;
  color: #3d3d3d;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0px 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* background-image: url("../../assets/Search.png"); */
  background-position: left 15px top 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pres_form select::placeholder{
  color: rgb(114, 110, 110);
}

.pres_form select:focus{
  outline: none;
}

.pres_form button {
  width: 40px;
  height: 45px;
  margin-top: 1.2em;
  border-radius: 5px;
  margin-left: 1em;
  border: none;
  background-color:  white;
  color: white;
  margin-right: 1em;
}

.pres_form button:focus{
  outline: none;
}

.pres_form button:hover{
  cursor: pointer;
}

.App .pills {
  display: flex;
  min-width: 200px;
  margin: 1em;
  height: auto;
}
