.Modal_Styles {
    position: fixed;
    top: 50%;
    left:50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    /* padding:50px; */
    z-index: 1000;
    /* border-radius:10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Overlay_Styles{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.7);
    z-index: 1000;
}

.Footer{
    display: flex;
    /* position: relative; */
    bottom: 0;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.Footer button {
    margin-left: 50px;
    margin-right: 20px;
    height: 50px;
    width: 120px;
    /* background-color: rgb(9, 175, 9); */
    background-color: #97d700;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow : 0px 0px 5px rgba(0, 0, 0, 0.294);
}
.Footer button:hover, .Footer .button2:hover {
    cursor: pointer;
}

.Footer .button2 {
    margin-left: 500px;
    margin-right: 20px;
    height: 35px;
    width: 75px;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow : 0px 0px 5px rgba(0, 0, 0, 0.65);
}

@media (max-width: 768px) {
    .Modal_Styles{
        width: 100%;
        height: 100%;
    }
  }
