* {
    margin:0;
    padding:0;
}

.form_parent {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background-color: #f8fafa;
    justify-content: center;
    align-items: center;
}

.form_parent .logo_wrapper {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.form_parent .logo_wrapper img {
    height: 30%;
}

.form_parent .form_wrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* border-radius: 5px; */
    /* box-shadow:
            0 1.5px 55.8px rgba(0, 0, 0, 0.03),
            0 12px 446px rgba(0, 0, 0, 0.06); */


}

.form_parent .form_wrapper .content {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color:red; */
}

.form_parent .form_wrapper .content :nth-child(1) {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1em;
}

a{
    width : auto;
    text-decoration : none;
}

.form_parent .form_wrapper .content input {
    height: 35px;
    width: 80%;
    background-color: #96d70024;
    margin-bottom: 1em;
    padding: 1em;
    font-weight: 600;
    /* border: 2px solid rgb(92, 91, 91); */
    border: 2px solid #333333;
    border-radius : 5px;
}

.form_parent .form_wrapper .content .btn {
    height: 40px;
    width: 150px;
    border : none;
    /* background-color: #989998; */
    background-color : #97d700;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    color : white;
    font-weight : 800;
    text-shadow : 0px 0px 5px rgba(0, 0, 0, 0.438);
    font-size : 0.9rem ;
}

.form_parent .form_wrapper .content .btn:hover {
    transform : translateY(-1px);
    cursor: pointer;
}

.form_parent .form_wrapper .content .btn p{
    margin-top: 2px;
    text-align: center;
    color: black;
}




